body{
   margin: 0;

   
}


#ABOUT{
   background-image: url(../images/about-bg.jpg);
  
 background-position: top center; 
  background-repeat: no-repeat;
  background-size: cover;
    padding-top: 150px;
    padding-bottom: 150px;
    
}
.about-div{
   margin-top: 100px;
   margin-left: 100px;
   width: 600px;
}
.news-header{
   color: blue;
}

#header,#appointment-heading {
   font-weight: 600;
   font-size: 3rem;
   color: #0000ff;
}
.about-img{
   border-radius: 50px;
   width:70px;
  float: left;
  margin-right: 30px;
}
.news-div{
   margin-top: 60px;
}
.latestnew-div{
   padding-top: 20px;
}
.doctorsec{
   margin-top: 150px;
}
.doctor-div{
   padding-top: 50px;
}



.newssection{
   margin-top: 100px;
}
#appointment-section{
   margin-top: 100px;
}
.appointment-image{
    width:100%;
}
textarea{
   resize: none;
}
#appointment-form{
   position: relative;
}
#News{
   margin-top: 50px;
}
.link{
   display: inline-block;
   padding: 0px 5px;
}
a{
   color: black;
}
a:hover{
   text-decoration: none;
   color: #272727;
}
.social-media{
   border-top: 1px solid #272727;
   
}
